PORT=8000
database_url=postgres://postgres:iamafzal@localhost:5432/profitas
NODE_ENV=development

JWT_SECRET=TpN5Xn7z0guKetGE56rEptFFjlu0ySWiFgM7TyHlpFC
JWT_EXPIRATION=1h

JWT_REFRESH_SECRET=JE6AkQwvCIkZw9uum1ItLEXeAaEfKXHWMZE22nDNDp8
JWT_REFRESH_EXPIRATION=7d

DB_POOL_MAX=50